
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #fffcfc;
  align-items: center;
}
li {
  float: left;
  
}
li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}
li a:hover {
  background-color: #ddd;
  color: black;
}

